
<div class="p-grid ui-fluid">
    <div class="p-col-12">
            <p-messages key="addErrors"></p-messages>
    </div>
</div> 

<form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
    <p-panel header="New Connection">

        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                Name *:
            </div>
            <div class="p-col-5">
                <input pInputText type="text" formControlName="name" placeholder="Required"/>
            </div>
            <div class="p-col-4">
                <p-message severity="error" text="Name is required" *ngIf="!addForm.controls['name'].valid&&addForm.controls['name'].dirty"></p-message>
            </div>
        </div>


        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                Host *:
            </div>
            <div class="p-col-5">
                <input pInputText type="text" formControlName="host" placeholder="Required"/>
            </div>
            <div class="p-col-4">
                <p-message severity="error" text="Host is required" *ngIf="!addForm.controls['host'].valid&&addForm.controls['host'].dirty"></p-message>
            </div>
        </div>

        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                Port *:
            </div>
            <div class="p-col-5">
                <p-spinner formControlName="port" [min]="1" placeholder="Required" [required]="true"></p-spinner>
            </div>
            <div class="p-col-4">
                <p-message severity="error" text="Port is required or not an integer" *ngIf="!addForm.controls['port'].valid&&addForm.controls['port'].dirty"></p-message>
            </div>
        </div>

        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                Username *:
            </div>
            <div class="p-col-5">
                <input pInputText type="text" formControlName="username" placeholder="Required"/>
            </div>
            <div class="p-col-4">
                <p-message severity="error" text="Username is required" *ngIf="!addForm.controls['username'].valid&&addForm.controls['username'].dirty"></p-message>
            </div>
        </div>
            
        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                Password *:
            </div>
            <div class="p-col-5">
                <input pInputText type="password" formControlName="password" placeholder="Required"/>
            </div>
            <div class="p-col-4">
                <p-message severity="error" text="Password is required" *ngIf="!addForm.controls['password'].valid&&addForm.controls['password'].dirty"></p-message>
            </div>
        </div>            

        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                Sudo Password:
            </div>
            <div class="p-col-5">
                <input pInputText type="password" formControlName="sudoPwd"/>
            </div>
            <div class="p-col-4">
                
            </div>
        </div>  
            
        <div class="p-grid ui-fluid">
            <div class="p-col-3 centerHv">
                File path *:
            </div>
            <div class="p-col-5">
                <input pInputText type="text" formControlName="filePath" placeholder="Required"/>
            </div>
            <div class="p-col-4">
                <p-message severity="error" text="File path is required" *ngIf="!addForm.controls['filePath'].valid&&addForm.controls['filePath'].dirty"></p-message>
            </div>
        </div> 
            
            
            
        <div class="p-grid ui-fluid">
            <div class="p-col-3"></div>
            <div class="p-col-5">
                <button pButton type="submit" label="Save" [disabled]="!addForm.valid"></button>
            </div>
            <div class="p-col-4"></div>
        </div>

       
    </p-panel>
</form>


		 



