
  

   <div class="p-grid ui-fluid">
        <div class="p-col-12">
            <p-messages [key]="connection.id" [(value)]="errorMsgs"></p-messages>
        </div>
    </div> 



    <div class="p-grid ui-fluid bordered">
        <div class="p-col-4 p-md-4 p-lg-4 centerHv">
            <span class="ui-panel-title">Host : {{connection.host}}</span>
        </div>
        <div class="p-col-4 p-md-4 p-lg-4">
            Font size : {{fontSize}}<p-slider [(ngModel)]="fontSize" [min]="1" [max]="100"></p-slider>
        </div>
        <div class="p-col-4 p-md-4 p-lg-4">
            <button pButton type="button" [style]="{'float':'right'}" class="ui-button-raised ui-button-rounded ui-button-warning" label="Clear text" (click)="clear()"></button>
        </div>
        
    </div> 


    <ace-editor #editor
    [(text)]="messages" 
    [mode]="'text'" 
    [theme]="'terminal'"
    [options]="editorOptions"
    [readOnly]="true"
    [autoUpdateContent]="true" 
    [durationBeforeCallback]="1000" 
    [ngStyle]="{'height': '75vh', 'font-size': fontSize+'px'}"
    (textChanged)="onTextAdded($event)"></ace-editor>
